
.custom-calendar{
  display: flex !important;
  justify-content: center;
  align-items: center;
  .custom-datepicker {
    border: none !important;
  }

  .ngb-dp-week{
    gap: 1.8px;
    margin: 1.8px;
  }

  [ngbDatepickerDayView] {
    background: #26C597;
    color: #fff;
    width: 13px;
    height: 13px;
    line-height: 13px;
}

[ngbDatepickerDayView].outside {
    background-color: #7a46d9 !important;
    color: #fff !important;
    opacity: 1 !important;
}

.ngb-dp-weekday, .ngb-dp-week-number {
  line-height: 13px;
  text-align: center;
  font-style: normal;
  color: var(--clr-deep-purple);
  font-weight: 600;
}

  .ngb-dp-day, .ngb-dp-weekday, .ngb-dp-week-number {
    width: 13px;
    height: 13px;
    font-size: 10px;
}

.text-primary.p-1.fw-bold {
  color: #4C4C4C !important;
  font-size: 12px;
  font-weight: bold;
}

}

// ::ng-deep {
// }

