<div class="navigation-bar">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/logo.png" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto gap-5">
          <li class="nav-item d-flex align-items-center" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            <svg-icon src="assets/icons/calculator.svg"></svg-icon>
            <a class="nav-link" routerLink="/" >Calculation</a>
          </li>
          <li class="nav-item d-flex align-items-center" [routerLinkActive]="['active']">
            <svg-icon src="assets/icons/task.svg"></svg-icon>
            <a class="nav-link" routerLink="/queue">Queue</a>
          </li>
          <li class="nav-item d-flex align-items-center" [routerLinkActive]="['active']">
            <svg-icon src="assets/icons/calendar.svg"></svg-icon>
            <a class="nav-link" routerLink="/planning">Planning</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <img src="assets/images/profile.svg" alt="img" />
            <a
              class="nav-link dropdown-toggle name"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Eleanor Pena
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="d-flex px-4 py-2">
                <svg-icon src="assets/icons/user.svg"></svg-icon>
                <a class="dropdown-item" href="#">Profile</a>
              </li>
              <li class="d-flex px-4 py-2">
                <svg-icon src="assets/icons/setting.svg"></svg-icon>
                <a class="dropdown-item" href="#">Setting</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
