.report-date-picker {
  ::ng-deep .input-group {
    width: 310px;
  }

  .dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }


  ::ng-deep
    .input-group:not(.has-validation)
    > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
  .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3) {
    font-size: 14px;
    font-weight: 600;
    padding: 14px;
  }

  .input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border: 0;
    border-color: #e8e8e8;
    background-image: url("../../../assets/icons/report-calender.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    bottom: 0;
    top: 0;
    background-color: transparent;
    padding: 20px;
    width: 40px;
    z-index: 1000;
  }

  .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}


  .btn-outline-secondary:hover {
    background-color: transparent;

  }

  .dp{
    .form-control{
      border-color: #e8e8e8;
      &:hover{
        border-color: #e8e8e8 !important;
      }

      &:focus{
        border-color: #e8e8e8 !important;
      }
    }

    button{
      &:focus{
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }

}

