<div class="calculations">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-12">
            <div class="sort-bar">
              <h4 class="fs-24">Calculations</h4>
              <div class="select-box">
                <p class="fs-14 m-0">Order by</p>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Date (Ascending)</option>
                  <option value="2">Date (Descending)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card-area">
              <div class="add-new">
                <a routerLink="addcalculation">
                  <svg-icon src="assets/icons/add.svg"></svg-icon>
                </a>
                <a href="" class="fs-16">Add new calculation</a>
              </div>
              <div *ngFor="let item of calculations" class="card-item">
                <h5 class="fs-20">{{ item.calculationName }}</h5>
                <hr />
                <ul>
                  <li>
                    <svg-icon src="assets/icons/3 users.svg"></svg-icon>
                    <span>{{ item.numberOfTeams }}</span> teams of
                    <span>{{ item.peopleOfTeam }}</span>
                  </li>
                  <li>
                    <svg-icon src="assets/icons/calendar1.svg"></svg-icon>
                    {{ item.startDate }} until {{ item.endDate }}
                  </li>
                  <li>
                    <svg-icon src="assets/icons/flag.svg"></svg-icon>

                    Finished
                  </li>
                  <li>
                    <svg-icon src="assets/icons/cardcalendar.svg"></svg-icon>
                    Planned
                  </li>
                </ul>
                <div class="date">
                  <p class="m-0 fs-14">{{ item.startDate }}</p>
                  <p class="m-0 fs-14">{{item.timeToCheck}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
